body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

/* Logo is Done. */
.accent {
    color: #4D5AE5;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2E2F42;
}

/* -------------------------------------- */
/* Header is Done */
/* Navigation  is Done*/

.header-list {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    /* text-decoration: none; */
    list-style-type: none;
}

.header-list-link {
    text-decoration: none;
    color: #2E2F42;
}

/* -----finish nav-------------------------- */

.address-tel {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.address-list {
    list-style-type: none;
}

/* ----------finish header-------------------- */