body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

/* Logo is Done. */
.accent {
    color: #4D5AE5;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #2E2F42;
}

/* -------------------------------------- */
/* Header is Done */
/* Navigation  is Done*/

.header-list {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    /* text-decoration: none; */
    list-style-type: none;
}

.header-list-link {
    text-decoration: none;
    color: #2E2F42;
}

.header-list-link:hover,
.header-list-link:focus {
    color: #404BBF;
}

/* -----finish nav-------------------------- */

.address-tel {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.address-list {
    list-style-type: none;
}

/* ----------finish header-------------------- */
/* Section Hero */
.section-hero,

.footer {
    background-color: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button {
    background: #4D5AE5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    /* border-radius: 4px; */
}

/* ------------finish hero----------------- */
/* Features */
.features-list {
    padding: 0;
}

.features-subtitle {
    font-weight: 500;
}

.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* --------finish features------- */
/* Our works ???*/
.doing-list,
.team-list,
.features-list {
    list-style-type: none;
}

.doing-title,
.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

/*-------finish our works */
/* Team */
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-name-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* -------finish team---- */
/* Footer */
.footer,
.logo-footer {
    color: #FFFFFF;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}